<!doctype html>
<html>
<head>
  <link href="/stylesheets/pivotal-cards.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div id="pivotal-cards-pages" class="rubber-stamp double-sided">
    <% @stories.in_groups_of(4) do |page| %>
      <div class="page fronts">
      <% page.each_with_index do |story, i| %>
        <% next if story.nil? %>
        <div class="<%= story.story_type %> card" id="front-<%= i %>">
          <div class="front side">
            <div class="header">
              <% if story.labels %>
                <span class="labels">
                  <% story.labels.split(',').each do |label| %>
                    <span class="label"><%= label %></span>
                  <% end %>
                 <span>
              <% end %>
            </div>
            <div class="middle">
              <div class="story-title"><%= story.name %></div>
              <div class="story-type"><%= story.story_type %></div>
            </div>
            <div class="footer">
              <span class="epic_name"></span>
              <span class="points points<%= story.estimate %>"><span><%= story.estimate %></span></span>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="page backs">
      <% page.each_with_index do |story, i| %>
        <% next if story.nil? %>
        <div class="<%= story.story_type %> card rubber-stamp double-sided" id="back-<%= i %>">
          <div class="back side">
            <div class="header">
              <span class="project"><%= @project.name %></span>
              <span class="id"><%= story.id %></span>
            </div>
            <div class="middle">
              <div class="story-title"><%= story.name %></div>
              <div class="description"><%= story.description %></div>
            </div>
            <div class="footer">
              <% if story.requested_by %><span class="requester"><%= story.requested_by %></span><% end %>
              <% if story.owned_by %><span class="owner"><%= story.owned_by %></span><% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
