<!doctype html>
<html>
<head>
  <link href="/stylesheets/pivotal-cards.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div id="pivotal-cards-pages" class="rubber-stamp double-sided">
    <% @stories.each_slice(4) do |page| %>
      <div class="page fronts">
      <% page.each_with_index do |story, i| %>
        <% next if story.nil? %>
        <div class="<%= story.story_type %> card" id="front-<%= i %>">
          <div class="front side">
            <div class="header">
              <% if story.owners.any? %>
                <span class="owner"><%= story.owners.map{|o|o.initials}.join(" ") %></span>
              <% end %>
              <% if story.estimate and story.estimate > 0 %>
                <span class="points points<%= story.estimate.to_i %>"><span><%= story.estimate.to_i %> pts</span></span>
              <% end %>
            </div>
            <div class="middle">
              <div class="story-title"><%= story.name %></div>
              <div class="story-type"><%= story.story_type %></div>
            </div>
            <div class="footer">
              <% if @with_qr_codes %>
                <span class="qr-code">
                  <img src="http://zxing.org/w/chart?cht=qr&chs=120x120&chld=L&choe=UTF-8&chl=https%3A%2F%2Fwww.pivotaltracker.com%2Fstory%2Fshow%2F<%= story.id %>" alt="Link to pivotal story" class="qr-image"/>
                </span>
              <% end %>
              <% if story.labels.any? %>
                <span class="labels">
                  <% story.labels.each do |label| %>
                    <span class="label"><%= label.name %></span>
                  <% end %>
                 <span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>

      <div class="page backs">
      <% page.each_with_index do |story, i| %>
        <% next if story.nil? %>
        <div class="<%= story.story_type %> card rubber-stamp double-sided" id="back-<%= i %>">
          <div class="back side">
            <div class="header">
              <span class="project"><%= story.name %></span>
            </div>
            <div class="middle">
              <% if story.description %>
                <div class="description"><%= markdown(story.description.gsub("\n", "\n\n")) %></div>
              <% end %>
            </div>
            <div class="footer">
              <span class="id"><%= story.id %></span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
