<h2><%= @project.name %></h2>

<p>Which cards would you like to print?</p>

<form action="/render" method="post" target="_blank">
  <ul>
    <li>
      <label for="iteration_icebox">
        <input type="radio" id="iteration_icebox" name="iteration" value="icebox" />
        <div class="iteration">
          Icebox
          <span class="date">All stories currently in the icebox</span>
        </div>
      </label>
    </li>
    <li>
      <label for="iteration_backlog">
        <input type="radio" id="iteration_backlog" name="iteration" value="backlog" />
        <div class="iteration">
          Backlog
          <span class="date">All stories currently in the backlog</span>
        </div>
      </label>
    </li>
    <li>
      <label for="iteration_epics">
        <input type="radio" id="iteration_epics" name="iteration" value="epics" />
        <div class="iteration">
          Epics
          <span class="date">All your Epics</span>
        </div>
      </label>
    </li>
    <li>
      <label for="iteration_specfic">
        <input type="radio" id="iteration_specific" name="iteration" value="specific_stories" />
        <div class="iteration">
          Specific Stories
          <label for="iteration_specific_ids">
            Comma-separated list of Story IDs
            <input type="text" id="iteration_specific_ids" name="story_ids" />
          </label>
        </div>
      </label>
    </li>
  </ul>

  <ul>
    <% @iterations.reverse_each do |iteration_number| %>
      <li>
        <label for="iteration_<%= iteration_number %>">
          <input type="radio" id="iteration_<%= iteration_number %>" name="iteration" value="<%= iteration_number %>" />
          <div class="iteration">
            Iteration <%= iteration_number %>
          </div>
        </label>
      </li>
    <% end %>
  </ul>

  <p>Would you like QR codes on the cards?</p>

  <ul>
    <li>
      <label>
        <input type="checkbox" id="with_qr_codes" name="with_qr_codes" value="true">
        Include QR codes linking to the story
      </label>
    </li>
  </ul>

  <p>
    <button type="submit">Generate these cards <span>(opens in a new window)</span></button>
    <input type="hidden" name="project_id" value="<%= @project.id %>" />
    <input type="hidden" name="api_key" value="<%= @api_key %>" />
  </p>
</form>

<p class="start-again"><a href="/">start again</a></p>
